<mat-card class="todolist">
  <mat-card-title>
    <div class="todolistline">
      <div class="todolistlinetitle">
        {{titlelist}}
      </div>
      <div>
          <a routerLink="todo/new">
            <button mat-icon-button>
                <mat-icon>add_circle_outline</mat-icon>
            </button>
          </a>
      </div>
    </div>

  </mat-card-title>
  <mat-card-content>
    <mat-selection-list #todosList (selectionChange)="onDone($event.option.value)">
      <mat-list-option *ngFor="let todo of todosOfList$ | async" [selected]="todo.done" [value]="todo.uid">

        <div class="todolistline">
          <div class="todolistlinetitle">
            {{todo.title}}
          </div>
          <div>
            <button mat-icon-button (click)="onBookmark(todo.uid); $event.stopPropagation();">
              <mat-icon [ngClass]="{
                'todolistbookmarkon': todo.bookmark,
                'todolistbookmarkoff': !todo.bookmark
              }">grade</mat-icon>

            </button>
          </div>
        </div>

      </mat-list-option>
    </mat-selection-list>
  </mat-card-content>
</mat-card>